[package]
name = "spongedown"
version = "0.2.2"
authors = [ "Jovansonlee Cesar <ivanceras@gmail.com>" ]
license = "MIT"
description = "Converts markdown to html with svgbob support"
readme = "README.md"
repository = "https://github.com/ivanceras/spongedown"
documentation = "https://ivanceras.github.io/spongedown/"
keywords = ["markdown", "svg", "bob", "spongedown"]

[dependencies]
svgbob = "0.1"
comic = "0.1"
csv = "0.15"
error-chain = "0.10"
comrak = "0.1"
typed-arena = "1.2"


[dev-dependencies]
handlebars = "0.21"
pretty_assertions = "0.1"
