<html>
<head>
<title>SvgBobRus(Ascii to svg converter)</title>
</head>
<body>
<div style="display:flex">
    <div>
    <pre>
        <code>
{{md}}
        </code>
    </pre>
    </div>
    <div>
{{{html}}}
    </div>
</div>
</body>
</html>
