<html>
<head>
<title>Spongedown - md to html with svg support</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/languages/rust.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<style>
table{
    border-collapse: collapse;
    border-spacing: 0;
}
th, td{
    border:1px solid #ccc;
}
</style>
</head>
<body>
<div style="display:flex;padding: 10px;">
    <div>
    <pre>
        <code class="nohighlight">
{{md}}
        </code>
    </pre>
    </div>
    <div style="margin-left: 20px;">
{{{html}}}
    </div>
</div>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="5QZ5LDXWVS4RU">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</body>
</html>
